*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin:0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
	
//	background-image: url("../img/sedona-index-1200.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1;
	height: 1;
	margin: -1;
}



a{
	text-decoration: none;
}

.button {
	font: inherit;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;

	border: none;
	cursor: pointer;
}

.button-info {
	padding: 5px 17px;

	background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus,
.button-search:hover,
.button-search:focus {
	background-color: #669ec0;
}

.button-info:active,
.button-search:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #5496bd;	
}

.button-order {
	padding: 5px 17px;

	background-color: #766357;
}

.button-appointment {
	display: block;
	width: 568px;
	min-height: 86px;
	margin: 46px auto 0;
	padding: 30px 0;

	font-size: 21px;
	line-height: 26px;


	background-color: #766357;
}

.button-order:hover,
.button-order:focus,
.button-appointment:hover,
.button-appointment:focus {
	background-color: #604e43;
}

.button-order:active,
.button-appointment:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #503e33;	
}


.button-search {
	font-size: 21px;
	line-height: 26px;

	background-color: #81b3d2;
}

.button-filter {
	display: block;
	margin: 0 auto;
	padding: 5px 33px;
	
	font-weight: 400;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
	background: transparent;
}

.button-filter:hover,
.button-filter:focus {
	color: #000000;	

	background-color: #ffffff;
}

.sort-button {
	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sort-button:hover,
.sort-button:focus {
	color: rgba(129, 179, 210, 1);
}

.sort-button:active {
	color: #000000;

	border: none;		
}

.sort-button-current,
.sort-button-current:hover,
.sort-button-current:focus,
.sort-button-current:active {
	color: #81b3d2;

	border: none;
}

.main-navigation {
	line-height: 26px;	
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba( 0, 0, 0, 0.3);
}

.site-navigation-current {
	color: #766357;	
}

.main-banner {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
//	background-position: 100% calc(100% + 207px);
	background-position: center;
	background-size: 100% auto;

}

.tagline {
	line-height: 26px;
	text-align: center;

	background-color: #ffffff;
}

.tagline h3 {
	font-size: 21px;
	color: #000000;
	font-weight: 700;
}

.advantages {
	background-color: #ffffff;
}

.features-list,
.advantages-list {
	list-style: none;
}

.advantages-list > li:nth-child(1) {
	background-image: url("../img/advantages-icon-1.svg");
	background-size: 75px 72px;
	background-repeat: no-repeat;
	background-position: center  calc(130px - 72px);
}

.advantages-list > li:nth-child(2) {
	background-image: url("../img/advantages-icon-2.svg");
	background-size: 74px 70px;
	background-repeat: no-repeat;
	background-position: center calc(130px - 70px);
}

.advantages-list > li:nth-child(3) {
	background-image: url("../img/advantages-icon-3.svg");
	background-size: 64px 76px;
	background-repeat: no-repeat;
	background-position: center  calc(130px - 76px);
}

.feature-item,
.advantages-item {
	text-align: center;
}

.feature-item {
	background-color: #eeeeee;
}

.feature-item h3,
.advantages-item h3 {
	font-size: 21px;
	color: #000000; 
	font-weight: 700;
}

.feature-item-imaged,
.feature-item-imaged h3 {
	color: #ffffff;

	background-color: #81b3d2;
}

.appointment {
	line-height: 24px;
	text-align: center; 

	background-color: #ffffff;
}

.appointment h2 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
}


.map-index iframe {
	border: none;
}

.filters {
	color: #ffffff;
	
	background-image: url("../img/filter background.jpg");
	background-position: center;
//	background: transparent;
}

.filter fieldset {
	border: none;

}

.filter legend {
	font-size: 16px;
	font-weight: 700;
}

.filter ul {
	margin: 0;
	padding-left: 44px; 
	list-style: none;
}

.price-filter {
	position: relative;
	margin: 0 0 20px 15px;
	width: 320px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-filter-field {
	display: inline-block;
	margin: 6px 0 6px 67px;

//	text-align: center;

}

.price-filter input {
	color: #ffffff;
	
	background: transparent;
	border: none;
	width: 55px;
}

.price-filter::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.sort-menu {
	font-size: 12px;
	line-height: 18px;

	background-color: #fefefe;
}

.sort-menu ul {
	list-style: none;
}

.sort-find {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	color: #000000;
}

.catalog {
	background-color: #fefefe;
}

.catalog ul {
	list-style: none;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
	color: #81b3d2;
}

.catalog-item h3:active {
	color: rgba(0, 0, 0, 0.3);
}



.main-footer {
	color: #000000;

	background-color: rgba(254,254,254,0.9);
}

.footer-contacts {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #000000;
}

.footer-copyright {
	line-height: 26px;	
	text-align: center;
}

.developer__img:hover, 
.developer__img:focus {
	fill: #81b3d2;
}

.developer__img:active {
	fill: #bdbbbc;
}

.modal {

	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

input {
	outline: none;
}

.search-form input {
	font: inherit;
	color: #000000;	
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-quantity {
	text-align: center;
}

.icon-calendar{
	fill: #cacaca;
}

.icon-calendar:hover path,
.icon-calendar:focus path {
	fill: #000000;
}

.icon-calendar:active path {
	fill: #81b3d2;
}

.icon-calendar:hover path {
	fill: #000000;
}

/* styles for layout grid */


.image-prototype-1200 {
	position:absolute;
	opacity:0.35;
	z-index: 1;
	left: 73px;
}

.image-prototype-768 {
	position:absolute;
	width: 100%;
	opacity:0.35;
	z-index: 1;
//	left: 73px;
}

.main-container-wrapper {

	margin: 0 auto;
	max-width: 1200px;
	box-shadow:0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header {

	
//	border: 1px dashed red; 
}



.main-navigation {
	display: flex;
	justify-content: center;
}

.main-header-logo {
	position: absolute;
}

.site-navigation {
	margin: 0;
	padding: 0;
	display: flex;
	margin: 0 auto;
	width: 87.92%;
//	width: 1055px;
	min-height: 55px;
}

.site-navigation li {
	width: 22.75%;
//	width: 240px;
	padding: 15px 0;
}

.site-navigation li:nth-child(3) {
	margin-left: auto; 
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;

}

.main-banner {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 510px;
	justify-content: flex-end;
	align-items: center;
}

.main-banner > img:nth-child(3) {
	width: 100%;
}


.tagline {
	padding: 53px 0; 
}

.tagline h3 {
	margin: 5px 355px 27px;
}

.tagline p {
	margin: 0 355px 0;
}

.features-list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.feature-item {
	padding: 41px 0;
	width: 33.33%;
}


.feature-item h3{
	margin: 4px 120px 25px;
}

.feature-item p {
	margin: 0 60px 20px;
}

.features-list > li:nth-child(2) p{
	margin: 20px 45px 0;
}
.advantages-item p {
	margin: 20px 55px 0;
}


.feature-image {
	width: 66.66%;
	height: 256px;
}

.feature-image-1{
	background-image: url(../img/photo10.jpg);
	background-size: 100% auto; 
	background-position: 0 -80px; 
//	background-position: center;
	background-repeat: no-repeat;
}

.feature-image-2{
	background-image: url(../img/photo5.jpg);
	background-size: 100% auto; 
	background-position: 0 -78px;
//	background-position: center;
	background-repeat: no-repeat;
}

.feature-item-list {
	width: 100%;
}

.advantages-list {
	padding: 0;
	width: 100%;
	min-height: 255px;
	display: flex;
}

.advantages-item h3 {
	margin-top: 0;
	margin-bottom: 25px;
}


.advantages-item {
	padding: 160px 0 0; 
	width: 33.33%;
	min-height: 330px;
}


.features-list > li:nth-child(1) {
	order: 1;
}

.features-list > li:nth-child(2) {
	order: 5;
}
.features-list > li:nth-child(3) {
	order: 6;
}
.features-list > li:nth-child(4) {
	order: 7;
}
.features-list > li:nth-child(5) {
	order: 8;
}
.features-list > li:nth-child(6) {
	order: 3;
}

.features-list > li:nth-child(7) {
	order: 2;
}
.features-list > li:nth-child(8) {
	order: 4;
}

.appointment h2 {
	margin: 3px 0 25px;
}

.appointment p {

//	margin: 0 380px 10px;
}

.appointment span {

	margin: 55px 0 0;
}

.appointment {
	padding: 45px 0 0;
//	min-height: 291px;
}

.main-footer {
	display: flex;
	min-height: 120px;
}

.footer-contacts,
.footer-social,
.footer-copyright {
	width: 400px;
	padding: 26px;
	
}

.footer-copyright span {
	margin: 5px;
}



.filter {
	margin: 0 auto;
	padding: 27px 0 6px;
	width: 1060px;
	display: flex;
}

.filter legend {
	margin-bottom: 25px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	width: 255px;
}

.filter-option {
	margin-bottom: 25px;
}

.filter-option label {
	position: relative;

	display: block;

	cursor: pointer;
	user-select: none;
}

.filter fieldset:last-child {
	margin-left: auto;

	width: 330px;
}

.filter-input-checkbox:not(:checked) + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: -1px;

	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
	content: "";

	position: absolute;
	top: -1px;
	left: -40px;

	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-list legend {
	margin: 0 0 10px 15px;
}

.range-controls {
	position: relative;
	margin: 0 0 32px 15px;
}

.range-controls .scale {
	height: 2px;
	background: rgba( 255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.sort-menu {
	display: flex;
	width : 1055px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid #e5e5e5;
}

.sort-find {
	margin: 30px 0;
}

.sort-list {
	display: flex;
	margin: 3px 455px 0 0;
	padding: 0;
	width: 353px;
	justify-content: space-between;
}

.sort-direction {
	display: flex;
}

.sort-icon-up {
	margin-right: 10px;
}

.sort-icon {
	fill: #cacaca;
}

.sort-icon:hover {
	fill: #231f20;
}

.sort-icon:active,
.sort-icon-active {
	fill: #81b3d2;
}

.catalog-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.catalog-item {
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
}
.catalog-item-wrapper {
	margin: 25px auto;
	width: 1055px;

	display: flex;
}

.catalog-item-order h3 {
	margin: 0;
}

.catalog-item-rating p {
	margin: 15px 0 8px;
	padding: 3px 12px 0;

	background-color: #f2f2f2; 
}

.catalog-item-wrapper > div:nth-child(1) {
	margin-left: 30px;
}

.catalog-item-wrapper > div:nth-child(2) {
	margin-left: auto;
	padding: 5px 0 0;
	text-align: right;
}

.catalog-item-wrapper > div:nth-child(3) {
	margin: 4px 0 0;
	order: -1;
}

.catalog-item-image {
	margin-bottom: 25px;
}

.catalog-item-order {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
}

.catalog-item-order a {
	width: 100%;
}

.catalog-item-order p {
	margin: 2px 0 1px;
}

.catalog-item-order span {
	display: block;
	margin: 0 0 17px;
}

.catalog-order-left {
	width: 110px;
	margin: 0 6px 0 0;
}

.catalog-order-right {
	width: 142px;
	margin-right: 6px
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 152px;
	margin: 12px auto;
	padding: 0;

}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;

	background-color: #81b3d2;	
}

.social-button:hover, 
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active path {
	fill: #88b6d1;
}

.modal-search {
	display: none;
	position: absolute;
	left: 50%;
	width: 570px;
	margin-left: -285px;
	padding: 55px;
}

@keyframes bounce {
	0% 	{transform: translateX(-2000px);}
	70% {transform: translateX(30px);}
	90% {transform: translateX(-10px);}
	100%{transform: translateX(0);}
}

@keyframes shake {
	0%, 100% 				{transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% 		{transform: translateX(10px);} 
}

.modal-show {
	display: block;
	animation-name: bounce;
	animation-duration: 0.6s;
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}

.search-form {
	display: flex;
	flex-wrap: wrap;


}

.search-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0 0 30px;
	width: 460px;
}

.search-item label {
//	margin-right: 20px;
}

.icon-calendar {
	position: absolute;
	left: 430px;
	top: 10px;

}

.search-item input {
	width: 346px;
	padding: 6px 40px 6px 13px;
	
}

.search-item a {
	width: 40px;
	padding: 6px 0;
	text-align: center;

	background-color: #f2f2f2;
}

.search-item svg {
	fill: #a9a9a9;
}

.search-item svg:hover {
	fill: #000000;
}

.search-item svg:active {
	fill: #81b3d2;
}

.search-item .search-quantity {
	width: 35px;
	padding: 6px 0;
}

.search-item-quantity label{
	margin-right: 37px;
}

.button-search {
	margin: 25px 0 0 0;
	padding: 15px 0;
	width: 100%; 
}

