*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin:0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
	
//	background-image: url("../img/sedona-index-1200.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1;
	height: 1;
	margin: -1;
}



a{
	text-decoration: none;
}

.button {
	font: inherit;

	font-weight: 700;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}

.button-info {
	background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus,
.button-search:hover,
.button-search:focus {
	background-color: #669ec0;
}

.button-info:active,
.button-search:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #5496bd;	
}

.button-order {
	background-color: #766357;
}

.button-order:hover,
.button-order:focus,
.button-appointment:hover,
.button-appointment:focus {
	background-color: #604e43;
}

.button-order:active,
.button-appointment:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #503e33;	
}

.button-appointment {
	font-size: 21px;
	line-height: 26px;

	background-color: #766357;
}

.button-search {
	font-size: 21px;
	line-height: 26px;

	background-color: #81b3d2;
}

.button-filter {
	font-weight: 400;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
	background: transparent;
}

.button-filter:hover,
.button-filter:focus {
	color: #000000;	

	background-color: #ffffff;
}

.sort-button {
	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sort-button:hover,
.sort-button:focus {
	color: rgba(129, 179, 210, 1);
}

.sort-button:active {
	color: #000000;

	border: none;		
}

.sort-button-current,
.sort-button-current:hover,
.sort-button-current:focus,
.sort-button-current:active {
	color: #81b3d2;

	border: none;
}

.main-navigation {
	line-height: 26px;	
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba( 0, 0, 0, 0.3);
}

.site-navigation-current {
	color: #766357;	
}

.main-banner {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
//	background-position: 100% calc(100% + 207px);
	background-position: center;
	background-size: 100% auto;

}

.tagline {
	line-height: 26px;
	text-align: center;

	background-color: #ffffff;
}

.tagline h3 {
	font-size: 21px;
	color: #000000;
	font-weight: 700;
}

.advantages {
	background-color: #ffffff;
}

.features-list,
.advantages-list {
	list-style: none;
}

.feature-item,
.advantages-item {
	text-align: center;
}

.feature-item {
	background-color: #eeeeee;
}

.feature-item h3,
.advantages-item h3 {
	font-size: 21px;
	color: #000000; 
	font-weight: 700;
}

.feature-item-imaged,
.feature-item-imaged h3 {
	color: #ffffff;

	background-color: #81b3d2;
}

.appointment {
	line-height: 24px;
	text-align: center; 

	background-color: #ffffff;
}

.appointment h2 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
}

.map-index {
	height: 472px;
	background-image: url("../img/map.jpg");	
	background-position: center;
}

.filter {
	background-image: url("../img/filter background.jpg");
	background-position: center;
}

.filters {
	color: #ffffff;
	
	background: transparent;
}

.filter fieldset {
	border: none;

}

.filter legend {
	font-size: 16px;
	font-weight: 700;
}

.filter ul {
	list-style: none;
}

.cost-filter {
	border: 2px solid #ffffff;
	border-radius: 2px;
	width: 220px;
	height: 17px;
}

.cost-filter-field {
	text-align: center;
	width: 110px;
}

.cost-filter input {
	color: #ffffff;
	
	background: transparent;
	border: none;
	width: 55px;
}

.sort-menu {
	font-size: 12px;
	line-height: 18px;

	background-color: #fefefe;
}

.sort-menu ul {
	list-style: none;
}

.sort-find {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	color: #000000;
}

.catalog {
	background-color: #fefefe;
}

.catalog ul {
	list-style: none;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
	color: #81b3d2;
}

.catalog-item h3:active {
	color: rgba(0, 0, 0, 0.3);
}



.main-footer {
	color: #000000;

	background-color: rgba(254,254,254,0.9);
}

.footer-contacts {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #000000;
}

.footer-copyright {
	line-height: 26px;	
	text-align: center;
}

.developer__img:hover, 
.developer__img:focus {
	fill: #81b3d2;
}

.developer__img:active {
	fill: #bdbbbc;
}

.modal {
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

input {
	outline: none;
}

.search-form input {
	font: inherit;
	color: #000000;	
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-quantity {
	text-align: center;
}

.icon-calendar{
	fill: #cacaca;
}

.icon-calendar:hover,
.icon-calendar:focus {
	fill: #000000;
}

.icon-calendar:active {
	fill: #81b3d2;
}

.icon-calendar:hover{
	fill: #000000;
}

/* styles for layout grid */


.image-prototype-1200 {
	position:absolute;
	opacity:0.35;
	z-index: 1;
	left: 73px;
}

.image-prototype-768 {
	position:absolute;
	width: 100%;
	opacity:0.35;
	z-index: 1;
//	left: 73px;
}

.main-container-wrapper {

	margin: 0 auto;
	max-width: 1200px;
	box-shadow:0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header {

	
//	border: 1px dashed red; 
}



.main-navigation {
	display: flex;
	justify-content: center;
	outline:  1px dashed yellow;
}

.main-header-logo {
	position: absolute;
	outline:  1px dashed black;
}

.site-navigation {
	margin: 0;
	padding: 0;
	display: flex;
	margin: 0 auto;
	width: 87.92%;
//	width: 1055px;
	min-height: 55px;
	outline:  1px dashed blue;
}

.site-navigation li {
	width: 22.75%;
//	width: 240px;
	padding: 15px 0;
	outline:  1px dashed red;
}

.site-navigation li:nth-child(3) {
	margin-left: auto; 
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;

}

.main-banner {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 510px;
	justify-content: flex-end;
	align-items: center;
	outline:  1px dashed red;
}

.main-banner > img:nth-child(3) {
	width: 100%;
}


.tagline {
	padding: 53px 0; 
//	min-height: 215px;

	outline:  1px dashed blue;
}

.tagline h3 {
	margin: 5px 355px 27px;
}

.tagline p {
	margin: 0 355px 0;
}

.features-list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	outline:  1px dashed blue;
}

.feature-item {
	padding: 41px 0;
	width: 33.33%;
//	min-height: 255px;

	outline:  1px dashed blue;
}


.feature-item h3{
	margin: 4px 120px 25px;
}

.feature-item p {
	margin: 0 60px 20px;
}

.features-list > li:nth-child(2) p{
	margin: 20px 45px 0;
}
.advantages-item p {
	margin: 20px 55px 0;
}


.feature-image {
	width: 66.66%;
	height: 256px;
}

.feature-image-1{
	background-image: url(../img/photo10.jpg);
	background-size: 100% auto; 
	background-position: 0 -80px; 
//	background-position: center;
	background-repeat: no-repeat;
}

.feature-image-2{
	background-image: url(../img/photo5.jpg);
	background-size: 100% auto; 
	background-position: 0 -78px;
//	background-position: center;
	background-repeat: no-repeat;
}

.feature-item-list {
	width: 100%;
}

.advantages-list {
	padding: 0;
	width: 100%;
	min-height: 255px;
	display: flex;

	outline:  1px dashed blue;
}

.advantages-item h3 {
	margin-top: 0;
	margin-bottom: 25px;
}


.advantages-item {
	padding: 160px 0 0; 
	width: 33.33%;
	min-height: 330px;
	outline:  1px dashed blue;
}


.features-list > li:nth-child(1) {
	order: 1;
}

.features-list > li:nth-child(2) {
	order: 5;
}
.features-list > li:nth-child(3) {
	order: 6;
}
.features-list > li:nth-child(4) {
	order: 7;
}
.features-list > li:nth-child(5) {
	order: 8;
}
.features-list > li:nth-child(6) {
	order: 3;
}

.features-list > li:nth-child(7) {
	order: 2;
}
.features-list > li:nth-child(8) {
	order: 4;
}

.appointment h2 {
	margin: 3px 0 25px;
}

.appointment p {

	margin: 0 380px 10px;
}

.appointment span {

	margin: 55px 0 0;
}

.appointment {
	padding: 45px 0 0;
//	min-height: 291px;
}

.main-footer {
	display: flex;
	min-height: 120px;
}

.footer-contacts,
.footer-social,
.footer-copyright {
	width: 400px;
	padding: 25px;
	
}

.footer-copyright span {
	margin: 5px;
}



.filter {
	margin: 0 auto;
	width: 1055px;
	display: flex;
	outline: 1px dashed green;	
}

.filter legend {
	outline: 1px dashed blue;
}

.filter fieldset {
	outline: 1px dashed blue;
}

.filter-list {
	margin: 0;
	padding: 0;
	width: 255px;
	min-height: 217px;
}

.filter-list-long {
	margin-left: auto;

	width: 330px;
}

.sort-menu {
	display: flex;
	min-height: 87px;
	border-bottom: 1px solid #e5e5e5;
	outline: 1px dashed yellow;
}

.catalog-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	outline: 1px dashed green;
}

.catalog-item {
	width: 1200px;
	height: 151px;
	border-bottom: 1px solid #e5e5e5;
}
.catalog-item-wrapper {
	margin: 25px auto;
	width: 1055px;
	height: 100px;

	display: flex;
	outline: 1px dashed red;
}

.catalog-item-order h3 {
	margin: 0;
	
}
.catalog-item-order p {
	margin: 8px 0;
	
}

.catalog-item-rating p {
	margin: 40px 0;
}

.catalog-item-wrapper > div:nth-child(1) {
	margin-left: 30px;
}

.catalog-item-wrapper > div:nth-child(2) {
	margin-left: auto;
	text-align: right;
}

.catalog-item-wrapper > div:nth-child(3) {
	order: -1;
}

.catalog-item-image {
	margin: 5px 0;
}
